dist
node_modules
.next
etc/docs
coverage
# DON'T REMOVE THIS
# the sops files MUST be changed only by sops and not by any other program
# what happens is that if format the file outside of sops, the hash of the file content
# will change, causing sops to fail while opening
*sops.y*ml
.eslintrc.js
.eslintignore
.babelrc
